<div class="row">
    <div class="col-1"></div>
    <div class="card text-white bg-dark col-10">
        <div class="card-header">
            <h5>Classement des joueurs</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="3">General</th>
                        <th colspan="3">Sherlock</th>
                        <th colspan="3">Moriarty</th>
                    </tr>
                    <tr>
                        <th>Pseudo</th>
                        <th (click)="sort(1)">Win</th>
                        <th (click)="sort(2)">Loose</th>
                        <th (click)="sort(3)">Winrate</th>
                        <th (click)="sort(4)">Win</th>
                        <th (click)="sort(5)">Loose</th>
                        <th (click)="sort(6)">Winrate</th>
                        <th (click)="sort(7)">Win</th>
                        <th (click)="sort(8)">Loose</th>
                        <th (click)="sort(9)">Winrate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of tableClassement, let index = index">
                        <td>{{ list[0] }}</td>
                        <td>{{ list[1] }}</td>
                        <td>{{ list[2] }}</td>
                        <td>{{ list[3] * 100 | number:'1.0-2'}}%</td>
                        <td>{{ list[4] }}</td>
                        <td>{{ list[5] }}</td>
                        <td>{{ list[6] * 100 | number:'1.0-2'}}%</td>
                        <td>{{ list[7] }}</td>
                        <td>{{ list[8] }}</td>
                        <td>{{ list[9] * 100 | number:'1.0-2'}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-1"></div>
</div>